# Ignore all .DS_Store files (common on macOS)
.DS_Store

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore virtual environment directories
venv/
env/

# Ignore system-specific files
.vscode/
.idea/

# Ignore Archived and data_room folders due to file size
Archived/
data_room/

# Ignore R history files
.Rhistory

# Ignore backup gitignore files
.gitignore.save

